body {
    background-color: var(--azul_claro);
}

#titulo {
    text-align: center;
}

#titulo h1 {
    font-size: 3em;
}

fieldset {
    background-color: white;
    margin: auto;
    margin: 5px;
    padding: 20px;
    border-radius: 3px;
    border: 2px solid black;
}

legend {
    padding: 3px;
}

.campos {
    margin: 5px;
    padding: 7px;
}

a {
    text-decoration: none;
    color: black;
}