body {
    background-image: url('../imagens/download.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.tela1 {
    padding: 80px;
    display: flex;
    justify-content: space-around;
}

.plano {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    text-align: justify;
}

.plano > .pacote /*.pacote = Básico, Médio, Premium*/ { 
    text-align: center;
    font-size: 2em;
}

.botao {
    text-align: center;
    margin: 0;
}